body {
    padding:0px !important;
    font-family: Libre Baskerville, serif !important;
}

.container-fluid { 
    background-color: #8064A1;
}

.tit1 { 
    text-align: center;
    font-size: 4em;
    color: #DFF355;
    font-family: Bebas Neue;
}

.home { 
    text-align: center;
}


#volantino { 
    margin-left: 0;
    margin-right: 0;
    height: 600px;
    margin-bottom: 100px;
    width:auto;
    text-align: right;
    float: left;
}

.biglietti { 
    background-color: #8064A1;
    text-align: center;
}

.biglietti h2{ 
    color: #DFF355;
    font-family: Bebas Neue, sans-serif;
    font-size: 4em;
}

.prevendita { 
    text-decoration: none;
    color: #DFF355;
}

.biglietto { 
    text-decoration: none;
    color: #DFF355;
}

.container { 
    color: #DFF355;
    font-weight: bold;
    background-color: #603584
}

.homeyt { 
    float: left;
}

.homesf { 
    float: right;
}

#homeytlogo { 
    text-align: left;
    height: 300px
}

#homesflogo { 
    text-align: right;
    height: 300px;
}

.col { 
    margin-left: 2.5em;
}


.logo_header { 
    width: 15%;
    float: left;
}


nav ul li { 
    display: inline-block;
    position: relative;
    text-align: center;
} 

nav ul li:hover ul{
    display:block;
} 

nav ul li li{ 
    position: relative;
    float: none;
    width: 100%;
    border: none;
} 

nav ul ul {
    display: none; position: absolute; top: 100%; left: 0;
} 

nav ul li a{ 
    color: #DFF355;
    text-decoration: none;
    font-size: 1.2em;
    
} 

nav ul ul li a {
    font-size: 1.5rem; 
    border-bottom: solid 2px #4A9B72;
    
} 

nav ul ul li:first-child a {
    border-top: solid 2px #DFF355;
} 

nav ul li:hover a{ 
    transition: 0.5s;
} 

.events { 
    background-color: #8064A1;
}




 
header {
    background-color:#603584;
    color:#DFF355;
    font-family: "Bebas Neue", sans-serif !important;
    text-align: center;
}

header, section {
    padding: 4% 5% 1% 5% !important;
    margin: 0px 0px 0px 0px !important;
}

h1 {
    font-size: 7em !important;
    font-family:"Bebas Neue", sans-serif !important;
    text-align: center;
}

.menù {
    color:#4A9B72;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-size: 2em;
    padding: 12px 12px 0px 12px ;
    border-radius: 3px;
}



span.menù { 
    background-color: white;
    color:#4A9B72;
    border: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

span.menù:hover {
    background-color: white;
}

h2{ 
    text-align: center;
}

footer { 
    background-color:#4A9B72;
    padding: 0px !important;
    margin: 0px !important;
    text-align: end;
}

footer section p{
    color: #DFF355;
    margin-bottom: 0%;
} 



.fa-brands { 
    color: #603584;
    font-size: 2.5em;
}

.fa-regular fa-instagram { 
    color: #603584;
    font-size: 2em;
}

.documentazione { 
    text-align: justify;
    color: #603584;
    font-size: 1em;
    text-decoration: none;
}

.documentazione2 { 
    text-align: justify;
    color: black;
    background-color: #a384c6;
}

.documentazione2 h2 { 
    color: #DFF355;
}

.documentazione2 h3 { 
    color:#1f6f47;
    font-weight: bold;
}


.card text {
    position: relative;
    padding: auto;
    margin: auto;
    margin-bottom: 7px;
}  

.card-title { 
    color: #DFF355;
    font-size: 7em;
    text-align: center;
    margin-top: 110px;
}

.buttoncontainer {
    display: block;
    margin-left: 44%;
    width: 140px;
}

.btn btn-primary { 
    font-family: "Bebas Neue";
}

.btn { 
    background: #DFF355 !important;
    border-color: #603584 !important;
    color: #603584 !important;
    font-weight: bold !important;
}

.btn { 
    vertical-align: middle;
    text-align: center;
}

.about { 
    
    font-family: Libre Baskerville, serif !important;
    padding: 20px 20px 20px 20px;
    margin: 130px 150px 130px 150px;
    text-align: justify;
    font-weight: 300;
    background-color: #8064A1;
    
}

.about h2 { 
    font-size: 3.5em;
    color: #DFF355 !important;
}

.about h3 { 
    font-size: 3;
    color: #DFF355;
    margin-top: 50px;
    margin-bottom: 30px;
}

.anteprima h2 { 
    color: #DFF355;
    font-weight: bold;
    background-color: #603584;
}


.spotifybutton1 { 
    float: left;
    margin-top: -3%;
}


.youtubebutton1 {
    float: right;
    margin-top: -3%;
}
  
#festival1 { 
    height: 800px;
    margin-left: 27%;
}


