body {
    padding:0px !important;
    font-family: Libre Baskerville, serif !important;
    text-align: center;
}
nav ul li { 
    display: inline-block;
}

#volantino { 
    margin-left: 25em;
    margin-right: 1em;
    height: 900px;
    width:auto;
    text-align: right;
}
 
header {
    background-color:#603584;
    color:#DFF355;
    font-family: "Bebas Neue", sans-serif !important;
    text-align: center;
}

header, section {
    padding: 4% 5% 1% 5% !important;
    margin: 0px 0px 0px 0px !important;
}

h1 {
    font-size: 7em !important;
    font-family:"Bebas Neue", sans-serif !important;
 }

.menù {
    color:#4A9B72;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-size: 2em;
    padding: 12px 12px 0px 12px ;
    border-radius: 3px;
}

span.menù { 
    background-color: white;
    color:#4A9B72;
    border: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

span.menù:hover {
    background-color: white;
 }

h2{ 
    text-align: center;
}

footer { 
    background-color:#4A9B72;
    text-align: end;
}





